.body_backgorund 
{
    background-image:url(backg.jpg);
    background-position:center;
    background-size:cover;
}
#myCanvas
{
    border-width:10px;
    background-color: rgb(193, 223, 231); 
    border-style:ridge;
}

h3
{
	width: 1000px;
	background-color: rgb(172, 193, 228);
	display: inline-block;
}

